*{
    margin: 0;
    padding: 0;
}

header{
    text-align: center;
    border-bottom: black 1px solid;
}

section{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
}

body{
    margin: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

header h1{
    margin: 1rem;
}

#langHeader{
    display: flex;
    position: absolute;
    margin: 1rem;
}

#langHeader a{
    display: block;
    text-decoration: none;
    cursor: pointer;
    background-color: aqua;
    border-radius: 2px;
    padding: 8px 15px;
    margin: 5px;
}

#my-chart{
    height: 400px;
    width: 600px;
}
#my-chart-wrapper{
    display: none;
}
#car{
    border: solid 1px black;
}
#users{
    display: flex;
    flex-direction: column;
}
#car{
    display: none;
}
.navbar {
    width: 100%;
    height: 60px;
    background-color: whitesmoke;
    box-shadow: -7px -2px 43px 0px rgba(0,0,0,0.47);
    display: flex;
    align-content: center;
    flex-direction: column;
}
.navbar ul {
    list-style-type: none;
    padding: 17px;
    float: left;
    text-align: center;
}
.navbar li {
    display: inline;
    padding: 10px 0px 10px 0px;
}
.navbar li a {
    font-family: "Century Gothic";
    font-size: 22px;
    text-decoration: none;
    color: white;
    border-right: 1px solid black;
    border-left: 1px solid black;
    color: black;
    padding: 0px 10px;
}
.navbar li a:hover {
    color: rgb(129, 5, 5);
}